*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #8BFEDD;
}

.font-h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 16px;
}

.font-h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;    
}

.container {
    max-width: 640px;
    width: 100%;
    margin:100px auto
}

form {
    margin-top: 40px;
}

input, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    border:solid;
    font-weight: bold;
    font-size: 18px;
}

form button{
    background-color: #6DD4B6;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #259D7B ;
}

.success-message {
    background-color:#259D7B ;
    font-size: 20px;
    padding: 8px;
    margin-bottom: 8px;
    display: none;
    font-family: sans-serif;
    text-align: center;
}

.error-message {
    background-color: red;
    font-size: 20px;
    padding-top: 8px ;
    margin-bottom: 8px;
    display: none;
    text-align: center;
    font-family: sans-serif;
}